<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ zt_name }}</title>
</head>
<style type="text/css">
    body{
        width: 100%;
        height: 100%;
        margin: 0px 0px;
        background: url(/static/img/ba4.gif);
    }
</style>
<body>
<h1 style="color: white;text-align: center;line-height: 70px;width: 100%;height: 70px;background: #333;margin:0px 0px ;font-family: 微软雅黑;box-shadow: 0px 0px 10px #5998ff">{{ wz_name }}</h1>
<h2 style="font-family: 微软雅黑;color: #ff7274;margin: 0px 0px;">· IShaBing · {{ zz_name }}</h2>
<h2 style="font-family: 微软雅黑;color: #666;margin: 0px 20px;line-height: 50px">{{ wz_nr|safe }}</h2>
</body>
</html>